body {
  background-color: mediumaquamarine;
}
h1 {
  text-align: center;
  margin-top: 50px;
  font-family: arial;
  font-size: 80px;
  color: darkred;
}
.opener {
  color: darkred;
  width: 40vw;
  font-size: 35px;
  margin-left: 40px;
}
h2 {
  font-size: 40px;
  color: darkred;
  margin-left: 30px;
}
.spongebob {
  margin-left: 40px;
}
h3 {
  margin-left: 30;
  font-family: sans-serif;
  font-size: 30px;
}
